<!DOCTYPE html>
<html>
	<head>
		<title>WEB700</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/theme.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Shiroan Pathmanathan</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
        <li class="nav-item active"><a class="nav-link" href="/htmlDemo">Html Demo</a></li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="/students">Students</a></li>
        <li class="nav-item"><a class="nav-link" href="/tas">Teaching Assistants</a></li>
        <li class="nav-item"><a class="nav-link" href="/courses">Courses</a></li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <main class="col-md-12">
        <section>
          <h3>Tables</h3>
          <div class="table-responsive">
            <table class="table">
              <caption><strong>Student Information</strong></caption>
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Age</th>
                  <th>Section</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Shiroan</td>
                  <td>30</td>
                  <td>ZBB</td>
                </tr>
                <tr>
                  <td>Naveed</td>
                  <td>30</td>
                  <td>ZCC</td>
                </tr>
                <tr>
                  <td>Sohan</td>
                  <td>32</td>
                  <td>ZCC</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="table-responsive">
            <table class="table">
              <caption><strong>Course Information</strong></caption>
              <thead>
                <tr>
                  <th>Course</th>
                  <th>Country</th>
                  <th>Intake</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>WEB700</td>
                  <td>India</td>
                  <td>Winter 2023</td>
                </tr>
                <tr>
                  <td>PMC700</td>
                  <td>Nepal</td>
                  <td>Winter 2022</td>
                </tr>
                <tr>
                  <td>NWK700</td>
                  <td>Canada</td>
                  <td>Winter 2023</td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>

        <section>
          <h3>Images</h3>
          <div class="row">
            <div class="col-md-4">
              <img src="https://w.forfun.com/fetch/39/39a9cb16b2fda61942c43335a3031502.jpeg?h=900&r=0.5" alt="Sky">
            </div>
            <div class="col-md-4">
              <img src="https://w.forfun.com/fetch/f5/f550fabb5cd022dcae401ed46babd5e9.jpeg?h=900&r=0.5" alt="Nature">
            </div>
            <div class="col-md-4">
              <img src="https://w.forfun.com/fetch/ec/ec1d27a7deefe965a2fd754aa1a0ba03.jpeg?h=900&r=0.5" alt="Bliss">
            </div>
          </div>
        </section>

        <section>
          <h3>Audio</h3>
          <audio controls>
            <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2022/web700/A3/sample-audio.mp3" type="audio/mp3">
            <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2022/web700/A3/sample-audio.ogg" type="audio/ogg">
            Your browser does not support the audio element.
          </audio>
          <p>This audio section contains a sample audio file. You can use the audio player controls above to play, pause, and adjust the volume of the audio.</p>
        </section>

        <section>
          <h3>Video</h3>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BHACKCNDMW8" allowfullscreen></iframe>
          </div>
          <p>This video section contains a YouTube video. You can watch the video by playing it using the embedded player above.</p>
        </section>
      </main>
    </div>
  </div>

  <<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
</body>
</html>
